.leftArrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
}

.rightArrow { 
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
} 

